<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h5 class="text-light">Siga esse projeto no GitHub</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">                
                <a href="#" target="_blank"><i class="bi-github" role="img" aria-label="GitHub"></i></a>
            </div>
        </div>
    </div>
</footer>   
